body, html {
  touch-action: none;
  overscroll-behavior: none;
}

body, html, #root {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.control {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 6px;
  z-index: 1000;
}
.control button{
  border-radius: 50%;
}

/* Media query is no longer needed unless you want to change size on small screens */
